Source: cita-me
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python-support, python (>=2.7)
Standards-Version: 3.8.3
Homepage: http://www.atareao.es

Package: cita-me
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
	gir1.2-notify-0.7,
	fortune-mod,
	fortunes-es,
	espeak,
	python-lxml
Description: el refranero popular en tu escritorio
